@model MaiAmTinhThuong.Models.VinhDanh

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VinhDanh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loai" class="control-label"></label>
                <input asp-for="Loai" class="form-control" />
                <span asp-validation-for="Loai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTienUngHo" class="control-label"></label>
                <input asp-for="SoTienUngHo" class="form-control" />
                <span asp-validation-for="SoTienUngHo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoGioHoatDong" class="control-label"></label>
                <input asp-for="SoGioHoatDong" class="form-control" />
                <span asp-validation-for="SoGioHoatDong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayVinhDanh" class="control-label"></label>
                <input asp-for="NgayVinhDanh" class="form-control" />
                <span asp-validation-for="NgayVinhDanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
